
@font-face {
	font-family:"PT Sans" ;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format(woff2);
	font-display: swap;
}
@font-face {
	font-family:"PT Sans" ;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format(woff2);   
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}
html{height: 100%;

}

body{
margin: 0;
display: flex;
flex-direction: column;
min-height: 100%;
font-family:"PT Sans",sans-serif;
font-size: 18px;
line-height: 21px;
color:#333333 ;
background-color: #FFFFFF;

}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.navigation{
display: flex;
width: 1060px;
margin: 0 auto;
}
.navigation-logo{
margin: 0;
padding: 0;
margin-right: 30px;
}
.navigation-list{
display: flex;	
flex-wrap: wrap; 
width: 450px;
margin: 0;
padding: 0;
list-style-type: none;
}

.navigation-link {
display: block;	
padding: 20px 17px;	
font-family: "PT Sans";
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #000000;
text-decoration: none;
}	
.navigation-user {
max-width: 310px;
margin-left: auto;
}
.navigation-user .navigation-link {
min-width: 20px;
min-height: 20px;
}

.button-broun{
	font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   background-color: #756257;
   text-transform: uppercase;
   text-align: center;
	text-decoration: none;
}
.main-container{
	flex-grow: 1;
}

.main-index {
text-align: center;
background-color: #fff;
}

.main-catalog {
background-color: #fff;
}
.page-container{
width: 1200px;
margin: 0 auto;
}
.welcome{
background-image: url(../images/index_first_screen/index-background.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
}
.welcome-image{
display: block;
margin: 51px auto 82px;

}
.advantages-slogan{
max-width: 720px;
margin: 63px auto 31px;
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.advantages-reasons{
max-width: 720px;
margin: 31px auto 80px;
font-family: "PT Sans";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 36px;
text-align: center;
color: #333333;
}

.advantages-list {
display: flex;
text-align: center;
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;
}
.advantage-item-wrapper{
display: flex;
color: #ffffff;
background-color: #83B3D3;
}
.advantage-title{
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}
.advantage-description {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}

.advantages-list-subitem{
display: flex;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
.advantage-title-subitem {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.advantage-description-subitem {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}
.advantage-subitem{
width: 400px;	
background: rgba(131, 179, 211, 0.12);	
}
.advantage-food{
background: #FFFFFF; 
}
.advantage-fon{
	width: 400px;		
background: rgba(131, 179, 211, 0.12);		
}
.dark-title{
color: #000000;
}
.advantage-road{
width: 400px;	
background:rgba(131, 179, 211, 0.2);
}
.reverse-image{
order: -1;
}


.search-hotel{
padding-top: 91px;
padding-bottom: 93px;	
text-align: center;

}
.search-question{
max-width: 720px;	
margin:0 240px 29px 240px;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.search-data{
max-width: 720px;	
margin: 0 240px 56px 240px;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
}
.button-search{
margin: 0 312px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
background: #756257;
text-decoration: none;
}

.subscribe{
padding-top:94px ;	
padding-bottom: 94px;
background-image: url(../images/index_photo/background-subscribe.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
color: #ffffff;
text-align: center;
}
.subscribe-heading{
max-width: 720px;		
margin: 0 240px 29px 240px;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
}
.subscribe-description{
max-width: 720px;	
margin: 0 240px 46px 240px;
font-weight: 400;	
font-size: 22px;
line-height: 26px;
}
.subscribe-button{
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
}

.page-footer-container{
display: flex;
justify-content: space-around;
margin: 0 auto;
width: 1200px;
}
.page-footer a {
text-decoration: none;
display: block;
}	
.footer-social{
max-width: 120px;
margin: 49px 61px 49px 72px ;
}
.footer-social-list {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style-type: none;
}
.footer-social-item{
width: 18px;
height: 15px;
margin-right: 30px;
margin-bottom: 4px;
}
.footer-social-item:nth-child(3n){
margin-right: 0;
}

.footer-phone{
width: 720px;
padding: 0;
margin: 0 auto;
}
.footer-contacts-phone{
display: block;
font-weight: 400;	
font-size: 40px;
line-height: 40px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
color: #000000;
margin: 40px 0 30px;

}
.footer-author{
max-width: 115px;
margin: 42px 72px 44px auto;
}

/* Cтилизация каталога*/

.header-filter{
background-image: url(../images/catalog/filter_group/catalog-background1.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
color: #ffffff;
}
.inner-header-title{
font-weight: bold;
font-size: 60px;
line-height: 78px;
}
.breadcrumbs-link{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
text-decoration: none;
}
.filter{
display: flex;
justify-content: space-around;
}

.filter-title{
font-style: normal;
font-weight: bold;
font-size: 20px;
}
.filter-button{
display: flex;
flex-direction: column;
}
.button-apply{
width: 160px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
}
.button-reset{
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
background: transparent;
margin-top: 20px;
}

.sorting-container{
width: 1057px;
margin: 44px 72px 52px;
display: flex;
justify-content: space-between;
}
.sorting-heading{
margin: 0;
width: 400px;	
font-size: 30px;
font-weight: bold;
line-height: 39px;
text-transform: uppercase;
color: #000000;
}
.select-control{
margin: 0;
width: 288px;	
}
.select-cheap{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.button-checked{
margin-left: auto;
}

.hotel-card-container{
	
	width: 1056px;
	margin: 0 72px;

}
.hotel-list{
display: flex;	
list-style-type: none;
margin: 0;
padding: 0;
flex-wrap: wrap;
}
.hotel-item{
width: 340px;
}
.hotel-link{
text-decoration: none;
}
.hotel-title{
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: #000000;
}
.hotel-type{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}

.rating{
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;
background-color:#F2F2F2;
	}
.button-more{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background-color:#756257;
color: #FFFFFF;
text-decoration: none;
}
.button-favorites{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
}

.button-favorites-green{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #7DB54F;
color: #FFFFFF;
}

.pagination-more {
	width: 620px;
	margin: 30px auto;
	text-align: center;
 }
.button-download{
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
background-color: #83B3D3;
color: #FFFFFF;
width: 620px;


}

.pagination-container{
	display: flex;
	max-width: 1056;
	margin:60px auto 72px;
	justify-content: space-between;
}
.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.pagination-item {
	padding-right: 8px;
 }

.pagination-link {
	display: block;
	min-width: 55px;
	min-height: 55px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #83B3D3;

}

.pagination-current {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px; 
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	background-color: #F2F2F2;
}
.select-title{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;


}
.select-control-hotel{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
margin-left: auto;
}
.subscribe-catalog{

	color: #ffffff;
	text-align: center;
}
.subscribe-heading-catalog{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
}
.subscribe-description-catalog{
	font-size: 22px;
   line-height: 26px;
	color: #333333;
}
.subscribe-button{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
   color: #FFFFFF;
	background: #83B3D3;
}
.footer-contacts-phone{
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}	

