
@font-face {
	font-family:"PT Sans" ;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format(woff2);
	font-display: swap;
}
@font-face {
	font-family:"PT Sans" ;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format(woff2);   
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}
html{height: 100%;

}

body{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family:"PT Sans",sans-serif;
	font-size: 18px;
	line-height: 21px;
	color:#333333 ;
	background-color: #FFFFFF;
	width: 1200px;
	
 }

.page-header{
	display: flex;
	width: 1060px;
	margin: 0 auto;
	}

.navigation-logo{
	width: 139px;
	margin-right: 30px;
	margin-left: 70px;
}
.navigation{
	display: flex;
	margin: 0 auto;
}	
.navigation-list{
	width: 450px;
	margin: 0;
	padding: 0;
	
	
}
.navigation-user {
	max-width: 310px;
	margin-left: auto;
 }
.navigation-link {
	font-family: "PT Sans";
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	text-decoration: none;
   
}	
.button-broun{
	font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   background-color: #756257;
   text-transform: uppercase;
   text-align: center;
	text-decoration: none;
}
.main-container{
	flex-grow: 1;
}
.page-container{
	width: 1200px;
	margin: 0 auto;
}
.welcome-image{
	display: block;
	margin: 0 auto;
}


.first-screen{
   background-image: url(../images/index_first_screen/index-background.jpg);
	background-size: 100% auto;
   background-repeat: no-repeat;
}
.slogan{
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}
.five-reasons{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: #333333;
}
.advantages-list{
	text-align: center;
	margin: 0;
   padding: 0;
}
.advantages-item{
	display: flex;
	background: #83B3D3;
	text-align: center;
	color: #FFFFFF;
	
}
.advantages-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	
}
.comfort-list{
	display: flex;
   justify-content: space-between;
	margin: 0;
   padding: 0;
}

.comfort-item{
	background: rgba(131, 179, 211, 0.12);
	width: 400px;
	padding: 0 75px;
	
}
.comfort-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
}
.comfort-food{
	background: #FFFFFF; 
}

.comfort-road{
	background:rgba(131, 179, 211, 0.2);
}
.search-hotel{
	text-align: center;
	width: 1200px;
}
.search-question{
	font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.search-data{
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
}
.button-search{
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #756257;
	text-decoration: none;
}
.subscribe{
	background-image: url(../images/index_photo/background-subscribe.jpg);
	background-size: 100% auto;
   background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	width: 1200px;
}
.subscribe-heading{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}
.subscribe-description{
	font-size: 22px;
   line-height: 26px;
}
.subscribe-button{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
   color: #FFFFFF;
	background: #83B3D3;
}
.page-footer-container{
	display: flex;
	margin: 0 auto;
	width: 1200px;
}
.footer-social-list{
	display: flex;
	width: 107px;
	margin-right: 130px;
	margin-left: 72px;
	
}

.footer-contacts-phone{
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	width: 720px;
}
.htmlacademy-link{
	width: 115px;
	margin-right: 72px;
	margin-left: 53px;
}
/* Cтилизация каталога*/

.filter{
	
   background-image: url(../images/catalog/filter_group/catalog-background1.jpg);
	background-size: 100% auto;
   background-repeat: no-repeat;
	color: #ffffff;
}
.filter-heading{
	font-weight: bold;
	font-size: 60px;
	line-height: 78px;
	width: 528px;
}
.breadcrumbs-link{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	text-decoration: none;
}

.filter-block{
	display: flex;
	width: 1200px;
	justify-content: space-around;
	
	
}
.filter-title{
	font-style: normal;
font-weight: bold;
font-size: 20px;
}

.filter-button{
	display: flex;
  flex-direction: column;
  
}


.button-apply{
width: 160px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
}
.button-reset{
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
background: transparent;
margin-top: 20px;
}

.sorting{
	width: 1057px;
	margin: 0 72px;
}

.sorting-heading{
font-size: 30px;
font-weight: bold;
line-height: 39px;
text-transform: uppercase;
color: #000000;
}

.select-cheap{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}

.button-checked{
	margin-left: auto;
}
.hotel-list{
	display: flex;
	width: 1056px;
	margin: 0 72px;
	flex-wrap: wrap;
}
.hotel-item{
	width: 340px;
}
.hotel-link{
	text-decoration: none;
}
.hotel-title{
	font-weight: bold;
	font-size: 24px;
line-height: 31px;
color: #000000;

}
.hotel-word{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}

.button-more{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background-color:#756257;
color: #FFFFFF;
text-decoration: none;
}
.button-favorites{
	font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
}

.button-favorites-green{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #7DB54F;
color: #FFFFFF;
}

.rating{
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;
background-color:#F2F2F2;
}


.download{
	width: 1056px;
	margin: 0 72px;
}
.button-download{
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
background-color: #83B3D3;
color: #FFFFFF;
width: 620px;
margin: 0 290px;

}

.pagination-block{
	display: flex;
	width: 1056;
	margin: 0 72px;
}

.pagination-link {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #83B3D3;

}

.pagination-current {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px; 
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	background-color: #F2F2F2;
}
.carrent-hotel{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;


}
.select-control-hotel{
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
margin-left: auto;
}
.subscribe-catalog{

	color: #ffffff;
	text-align: center;
}
.subscribe-heading-catalog{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
}
.subscribe-description-catalog{
	font-size: 22px;
   line-height: 26px;
	color: #333333;
}
.subscribe-button{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
   color: #FFFFFF;
	background: #83B3D3;
}
.footer-contacts-phone{
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}	

