
@font-face {
font-family:"PT Sans" ;
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format(woff2);
font-display: swap;
}
@font-face {
font-family:"PT Sans" ;
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format(woff2);   
font-display: swap;
}
@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}

html{
height: 100%;
background-color: #e5e5e5;	 
box-sizing: border-box; 
}

body{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100%;
font-family:"PT Sans",sans-serif;
font-size: 18px;
line-height: 21px;
color: #000000;
background-color: #FFFFFF;

}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.navigation{
display: flex;
width: 1060px;
margin: 0 auto;
}
.navigation-logo{
display: block;	
width: 139px;
margin: 0;
padding: 0;
}
.navigation-list{
display: flex;	
flex-wrap: wrap; 
width: 450px;
margin: 0;
padding: 0;
list-style-type: none;
	
}
.navigation-link {
display: block;
font-weight: 700;
font-size: 20px;
padding: 20px 0;
line-height: 26px;
text-align: center;
color: #000000;
text-decoration: none;
}	
.navigation-item:not(:last-child) {
margin-right: 34px;
}
.navigation-item:first-child {
margin-left: 17px;
}
.navigation-item:last-child {
margin-right: 17px;
}




.navigation-user-list{
display: flex;		
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;
margin-left: auto;
max-width: 308px;

}	

.navigation-user-item:nth-child(2) {
margin-right: 20px;
}
.navigation-user-link {
display: flex;
position: relative;
justify-content: center;
align-items: center;
width: 42px;
margin: 24px 0;
min-height: 18px;
min-width: 18px;
}
.navigation-icon{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
fill: #000000;
}	

.button{
box-sizing: border-box;	
font-family: inherit;
font-size: 16px;
font-weight: 700;
line-height: 21px;
text-align: center;
background-color: #756257;
color: #FFFFFF;
text-transform: uppercase;
text-decoration: none;
border-radius: 4px;
border: none;
cursor: pointer;
}

.button-navigation{
display: block;	
width: 160px;
padding: 0;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
background-color: #756257;
text-transform: uppercase;
text-align: center;
text-decoration: none;
border: none;
box-sizing: border-box;
padding: 8px 15px;
border-radius: 4px;
height: 37px;
margin-top: 13px;
cursor: pointer;
}



.main-container{
flex-grow: 1;
}

.main-index {
text-align: center;
background-color: #fff;
}

.main-catalog {
background-color: #fff;
}
.page-container{
width: 1200px;
margin: 0 auto;
}
.welcome{
background-image: url(../images/index_first_screen/index-background.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
}
.welcome-image{
display: block;
margin: 0 auto;
padding-top: 51px;
padding-bottom: 82px;	
}

.advantages-header{
max-width: 720px;
margin: 0 auto;
padding-top: 63px;
text-align: center;
margin-bottom: 80px;
}
.advantages-slogan{
margin: 0;
padding: 0;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
min-height: 72px;
margin:0 auto 31px;
}
.advantages-reasons{
padding: 0;
margin: 0;
font-size: 22px;
line-height: 36px;
color: #333333;
}


.advantages-list {
display: flex;
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;
flex-direction: row;
}
.advantage-item-wrapper{
display: flex;
height: 384px;
}
.advantage-wrapper-text{
display: flex;	
flex-direction: column;
align-items: center;
width: 400px;	
box-sizing: border-box;

}
.advantage-wrapper-blue{
background-color: #83B3D3;	
color: #ffffff;
}
.advantages-picture{
display:block ;
height: 100%;
width: 800px;
height: 384px;
}

.advantage-title{
margin: 0;	
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
min-height: 56px;
padding-top: 98px;
padding-bottom: 30px;
max-width: 220px;
}
.advantage-number{
padding: 0;	
margin: 0;
padding-bottom:30px;
}
.advantage-description {
margin: 0;	
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
min-width: 220px;
max-width: 250px;
min-height: 63px;
color: #333333;
}
.advantage-wrapper-text .advantage-description{
color:#ffffff;
}
.advantages-list-subitem{
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
.advantages-item-small{
display: flex;	
position: relative;
flex-direction: column;
align-items: center;
width: 400px;	
height: 384px;
box-sizing: border-box;
background: rgba(131, 179, 211, 0.12);
}
.advantages-item-small:nth-child(1) {
background-image: url("../images/index_icons/icon-house.svg");
background-repeat: no-repeat;
background-size: 75px 72px;
background-position: center top 89px;
}
.advantages-item-small:nth-child(2) {
background-image: url("../images/index_icons/icon-food.svg");
background-repeat: no-repeat;
background-size: 74px 70px;
background-position: center top 89px;
}
.advantages-item-small:nth-child(3) {
background-image: url("../images/index_icons/icon-souvenirs.svg");
background-repeat: no-repeat;
background-size: 64px 76px;
background-position: center top 89px;
}
.advantage-title-subitem {
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
margin: 0 auto;
width: 250px;
min-height: 28px;
margin-top: 184px;
margin-bottom: 20px;
}
.advantage-description-subitem {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
width: 250px;
margin: 0 auto;
max-height: 73px;
padding-bottom: 79px;
color: #333333;
}

.advantage-grey{
background:rgba(131, 179, 211, 0.2);
}
.advantage-white{
background: #FFFFFF;
}



.search-hotel{
padding-top: 91px;
padding-bottom: 93px;	
text-align: center;
}
.search-title{
max-width: 720px;	
margin:0 auto;
font-weight: 700; 
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin-bottom: 29px;
}
.search-data{
max-width: 720px;	
margin: 0 auto;
margin-bottom: 56px;
font-size: 22px;
line-height: 26px;
color: #333333;

}
.button-search{
display: block;	
width: 575px;
padding-top: 15px;
padding-bottom: 15px;
margin: 0 auto;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
background: #756257;
text-decoration: none;
border-radius: 10px;
}

.subscribe{
background-image: url(../images/index_photo/background-subscribe.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
color: #ffffff;
text-align: center;
height: 411px;
}
.subscribe-title{
min-width: 720px;		
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
padding-top: 94px;
margin: 0 auto 29px;
}
.subscribe-description{
max-width: 720px;	
margin: 0 auto 46px;
font-weight: 400;	
font-size: 22px;
line-height: 26px;
min-height: 52px;
}
.subscribe-form{
display: flex;
justify-content: center;
margin: 0 auto;
width: 800px;	
}
.subscribe-field{
margin: 0;	
padding: 0;
width: 600px;
min-height: 60px;	
border-radius: 10px 0px 0px 10px;	
padding-left: 22px;
padding-right: 19px;
background: #F2F2F2;
color:#000000;
font-size: 18px;
line-height: 26px;
border: none;
}
.subscribe-button{
display: block;
max-width: 200px;
font-weight: 700;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
font-size: 20px;
line-height: 26px;
border-radius: 0px 10px 10px 0px;
padding:17px 0;
text-align: center;
width: 100%;
border: none;
}
.page-footer{
display: flex;
justify-content: space-around;
margin: 0 auto;
width: 1200px;	
}

.page-footer a {
text-decoration: none;
display: block;
background-color: #ffffff;
}	
.footer-social{
max-width: 140px;
margin: 49px 61px 53px 72px ;
}
.footer-social-list {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style-type: none;
}
.footer-social-item{
min-width: 20px;	
}
.footer-social-item:not(:last-child){
margin-right: 30px;
}

.footer-phone{
width: 720px;
padding: 0;
margin: 40px 0 30px 0;
}
.footer-link-phone{
display: block;
font-weight: 400;	
font-size: 40px;
line-height: 40px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
color: #000000;


}
.footer-author{
max-width: 115px;
margin: 42px 72px 44px auto;
}

/* Cтилизация каталога*/

.header-filter{
background-image: url(../images/catalog/filter_group/catalog-background1.jpg);
background-size:cover;
background-repeat: no-repeat;
color: #ffffff;
padding: 35px 70px;
min-height: 408px;
box-sizing: border-box;
}
.inner-header-title{
margin: 0;
font-weight: 700;
font-size: 60px;
line-height: 78px;
}
.breadcrumbs{
display: flex;	
padding: 0;
margin: 0;
list-style: none;
margin-top: -8px;
}
.breadcrumbs-item:not(:last-child){
margin-right: 10px;	
}

.breadcrumbs-link{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
text-decoration: none;
}
.inner-header{
margin-bottom: 45px;
}

.filter-form{
display: flex;
}
.filter-list{
margin: 0;
padding: 0;
list-style: none;
}

.filter-title{
font-weight: 700;
font-size: 20px;
line-height: 26px;
margin-bottom: 30px;
}
.filter-item{
font-size: 18px;
line-height: 23px;
}
.filter-item:not(:last-child) {
margin-bottom: 16px;
}

.filter-group{
border:none ;
padding: 0;
}
.filter-infrastructure{
margin-right: 67px;	
}
.filter-housing{
margin-right: 167px;
}
.filter-range{
width: 288px;
margin-right: 81px;
}
.range{
display: flex;	
}
.range-cost{
display: flex;
box-sizing: border-box;		
position: relative;
}
.range-price {
font-size: 18px;
line-height: 23px;
position: absolute;
top: 0;
right: 14px;
}
.range-field{
width: 144px;	
color: inherit;
background-color: transparent;
box-sizing: border-box;
}

.filter-button{
margin: 0;
padding: 0;	
width: 160px;	
display: flex;	
flex-direction: column;
margin-left: auto;
margin-top: 55px;
}
.button-apply{
width: 160px;	
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
border-radius: 4px;
margin-bottom: 20px;
}
.button-reset{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
background: transparent;
}


.search-result{
margin-bottom: 73px;	
}

.sorting-container{
width: 1056px;
max-height: 48px;
display: flex;
padding:44px 72px 0;
justify-content: space-between;
align-items: center;
}
.sorting-title{
margin: 0;
padding: 0;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
color: #000000;
margin-top: 6px;
margin-right: 191px;
}
.select-setting{
margin: 0;
height: 48px;	
width: 287px;
font-size: 18px;
line-height: 23px;
color: #333333;
background-color: white;
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
margin-right: 81px;
padding: 9px 50px 12px 18px;
}
.sorting-container .button {
width: 48px;
height: 48px;
}
.button-checked{
margin-left: auto;
}
.soring-list{
display:flex ;	
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;

}

.hotel-list{
display: grid;
grid-template-columns: repeat(3, 340px); 
gap: 10px 18px;
width: 1056px;
margin: 0;
padding: 0;
margin: 0 auto;
list-style-type: none;
margin-bottom: 34px;
}
.hotel-item{
display: flex;
flex-direction: column;
padding: 0;	
margin: 0;
width: 340px;
padding: 20px;
box-sizing: border-box;
}
.hotel-image{
display: block;	
margin: 0;
padding: 0;
margin-bottom: 16px;

}
/*
.hotel-link{
text-decoration: none;
}
*/
.hotel-title{
margin: 0;
font-size: 24px;
line-height: 31px;
color: #000000;
margin-bottom: 16px;
}
.card-text-container{
display: flex;	
flex-wrap: wrap;
justify-content: space-between;
}
.hotel-type{
margin: 0;	
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
/*width: 133px;*/
width: 133px;
margin-bottom: 16px;
}
.hotel-price{
line-height: 23px;
color: #333333;
margin: 0;
width: 143px;
margin-left: auto;	
margin-bottom: 16px;
}
.button-more{
display: block;
width: 133px;
max-height: 37px;
margin-right: auto;
box-sizing: border-box;
padding: 9px;
margin-bottom: 16px;
}
.button-favorites{
display: block;
padding: 0;
width: 141px;
height: 37px;
margin-left: auto;	
background: #83B3D3;
color: #FFFFFF;
box-sizing: border-box;
margin-bottom: 16px;
}
.button-favorites-green{
display: block;	
background: #7DB54F;
color: #FFFFFF;
width: 141px;
height: 37px;
margin-left: auto;
box-sizing: border-box;
margin-bottom: 16px;
}
.rating-stars{
margin: 0;
padding: 9px;	
max-width: 115px;

}
.rating{
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;
background-color:#F2F2F2;
border-radius: 4px;
width: 160px;
height: 37px;
margin-left: auto;
padding: 9px;
box-sizing: border-box;
}

.hotel-upload{
padding-top: 30px;
padding-bottom: 30px;
border-top: 1px solid #E6E6E6;
border-bottom: 1px solid #E6E6E6;
max-width: 1055px;
margin-left: 73px;	
margin-bottom: 30px;

}

.button-upload{
display: block;	
width: 620px;	
padding-top: 17px;
padding-bottom: 17px;
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
background-color: #83B3D3;
color: #FFFFFF;
border-radius: 4px;
margin: 0 auto;
}

.pagination-container{
max-width: 1056px;
display: flex;
margin:0 72px;
height: 55px;
justify-content: space-between;
}
.pagination-list {
display: flex;
margin: 0;
padding: 0;
list-style-type: none;
}
.pagination-item:not(:last-child) {
margin-right: 8px;
}
.pagination-link {
display: block;
box-sizing: border-box;
min-width: 55px;
min-height: 55px;
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
background-color: #83B3D3;
border-radius: 4px;
padding-top: 14px;
}
.pagination-current {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px; 
text-align: center;
text-transform: uppercase;
color: #000000;
background-color: #F2F2F2;
}
.select-title{
width: 175px;	
font-size: 18px;
line-height: 23px;
color: #333333;
margin-right: 51px;
}
.select-control-hotel{
width:160px ;	
height: 48px;
line-height: 23px;
color: #333333;
border-radius: 4px;
}

.subscribe-catalog{
color: #ffffff;
text-align: center;
margin-bottom: 141px;
}
.subscribe-heading-catalog{
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin-bottom: 46px;
}
.subscribe-description-catalog{
font-size: 22px;
line-height: 26px;
color: #333333;
margin-bottom: 46px;
}



