
@font-face {
	font-family:"PT Sans" ;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format(woff2);
	font-display: swap;
}
@font-face {
	font-family:"PT Sans" ;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format(woff2);   
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body{
	font-family:"PT Sans",sans-serif;
	font-size: 18px;
	line-height: 21px;
	color:#333333 ;
	background-color: #FFFFFF;
}
.page-header{
	color: #000000;
	background: #F2F2F2;
}
.navigation-link {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	background: #F2F2F2;
	text-decoration: none;
   
}	
.button-broun{
	font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   background-color: #756257;
   text-transform: uppercase;
   text-align: center;
	text-decoration: none;
}
.main-index{
	color: #000000;
	background-color: #ffffff;
}
.first-screen{
   background-image: url(../images/index_first_screen/index-background.jpg);
	background-size: 100% auto;
   background-repeat: no-repeat;
}
.slogan{
	font-family: PT Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}
.five-reasons{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: #333333;
}
.advantages{
	background: #83B3D3;
	text-align: center;
	color: #FFFFFF;
	

}
.advantages-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	
}
.comfort-list{
	text-align: center;

}

.comfort-item{
	background: rgba(131, 179, 211, 0.12);
	
}
.comfort-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
}
.comfort-item-food{
	background: #FFFFFF; 
}
.comfort-item-road{
	background:rgba(131, 179, 211, 0.2);
}
.search-hotel{
	text-align: center;
}
.search-question{
	font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.search-data{
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
}
.button-search{
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #756257;
}
.subscribe{
	background-image: url(../images/index_photo/background-subscribe.jpg);
	background-size: 100% auto;
   background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
}
.subscribe-heading{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}
.subscribe-description{
	font-size: 22px;
   line-height: 26px;
}
.subscribe-button{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
   color: #FFFFFF;
	background: #83B3D3;
}
.footer-contacts-phone{
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
/* Cтилизация каталога*/
.page-header{
	color: #000000;
	background: #F2F2F2;
}
.navigation-link {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	background: #F2F2F2;
	text-decoration: none;
   
}	
.button-broun{
	font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   background-color: #756257;
   text-transform: uppercase;
   text-align: center;
	text-decoration: none;
}

.filter{
   background-image: url(../images/catalog/filter_group/catalog-background1.jpg);
	background-size: 100% auto;
   background-repeat: no-repeat;
	color: #ffffff;
}
.inner-header-title{
	font-weight: bold;
	font-size: 60px;
	line-height: 78px;
}
.breadcrumbs-link{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
}
.search-result{
	font-size: 30px;
line-height: 39px;
text-transform: uppercase;
color: #000000;
}
.cheap{
	font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.hotel-card-title{
	font-weight: bold;
	font-size: 24px;
line-height: 31px;
color: #000000;
text-decoration: none;
}
.hotel-card-hotel{
	font-weight: normal;
	font-size: 18px;
line-height: 23px;
color: #333333;
}
.button-more{
	font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background-color:#756257;
color: #FFFFFF;
}
.button-favorites{
	font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
}

.button-favorites-green{
	font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #7DB54F;
color: #FFFFFF;
}

.rating{
	font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;
background-color:#F2F2F2;
}

.button-download{
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
background-color: #83B3D3;
color: #FFFFFF;

}

.pagination-link {
	
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #83B3D3;
}

.pagination-current {
	
	font-weight: 700;
	font-size: 20px;
	line-height: 26px; 
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	background-color: #F2F2F2;
}
.carrent-hotel{
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;

}
.select-control-hotel{
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.subscribe-catalog{

	color: #ffffff;
	text-align: center;
}
.subscribe-heading-catalog{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
}
.subscribe-description-catalog{
	font-size: 22px;
   line-height: 26px;
	color: #333333;
}
.subscribe-button{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
   color: #FFFFFF;
	background: #83B3D3;
}
.footer-contacts-phone{
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}	

