
@font-face {
font-family:"PT Sans" ;
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format(woff2);
font-display: swap;
}
@font-face {
font-family:"PT Sans" ;
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format(woff2);   
font-display: swap;
}
@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}

html{
height: 100%;
background-color: #e5e5e5;	  
}

body{
margin: 0;
display: flex;
flex-direction: column;
min-height: 100%;
font-family:"PT Sans",sans-serif;
font-size: 18px;
line-height: 21px;
color:#333333 ;
background-color: #FFFFFF;

}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.navigation{
display: flex;
width: 1060px;
margin: 0 auto;
}
.navigation-logo{
width: 139px;
margin: 0;
padding: 0;
margin-right: 30px;
}
.navigation-list{
display: flex;	
flex-wrap: wrap; 
width: 450px;
margin: 0;
padding: 0;
list-style-type: none;
}

.navigation-link {
display: block;	
padding: 20px 17px;	
font-family: "PT Sans";
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #000000;
text-decoration: none;
}	
.navigation-user {
max-width: 310px;
margin-left: auto;
}
.navigation-user .navigation-link {
min-width: 20px;
min-height: 20px;
}

.button-broun{
	font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   background-color: #756257;
   text-transform: uppercase;
   text-align: center;
	text-decoration: none;
}
.main-container{
	flex-grow: 1;
}

.main-index {
text-align: center;
background-color: #fff;
}

.main-catalog {
background-color: #fff;
}
.page-container{
width: 1200px;
margin: 0 auto;
}
.welcome{
background-image: url(../images/index_first_screen/index-background.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
}
.welcome-image{
display: block;
margin: 0 auto;
padding-top: 51px;
padding-bottom: 82px;	
}

.advantages-header{
max-width: 720px;
margin: 0 auto;
padding-top: 63px;
text-align: center;
margin: 0 auto 80px;
}
.advantages-slogan{
margin: 0;
padding: 0;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
min-height: 72px;
margin:0 auto 31px;
}
.advantages-reasons{
padding: 0;
margin: 0;
font-size: 22px;
line-height: 36px;
color: #333333;
}


.advantages-list {
display: flex;
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;
flex-direction: row;
}
.advantage-item-wrapper{
display: flex;
height: 384px;
}
.advantage-wrapper-text{
display: flex;	
flex-direction: column;
align-items: center;
width: 400px;	
box-sizing: border-box;

}
.advantage-wrapper-blue{
background-color: #83B3D3;	
color: #ffffff;
}
.advantages-picture{
display:block ;
height: 100%;
width: 800px;
height: 384px;
}

.advantage-title{
margin: 0;	
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
min-height: 56px;
padding-top: 98px;
padding-bottom: 30px;
max-width: 220px;
}
.advantage-number{
padding: 0;	
margin: 0;
padding-bottom:30px;
}
.advantage-description {
margin: 0;	
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
min-width: 220px;
max-width: 250px;
min-height: 63px;
}
.advantages-list-subitem{
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
.advantages-item-small{
display: flex;	
flex-direction: column;
align-items: center;
width: 400px;	
height: 384px;
box-sizing: border-box;
background: rgba(131, 179, 211, 0.12);

}
.advantage-title-subitem {
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
margin: 0 auto;
width: 250px;
min-height: 28px;
margin-top: 184px;
margin-bottom: 20px;
}
.advantage-description-subitem {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
width: 250px;
margin: 0 auto;
max-height: 73px;
padding-bottom: 79px;
}
.advantage-white{
background: #FFFFFF; 
}
.advantage-grey{
background:rgba(131, 179, 211, 0.2);
}
.dark-title{
color: #000000;
}


.search-hotel{
padding-top: 91px;
padding-bottom: 93px;	
text-align: center;
}
.search-title{
max-width: 720px;	
margin:0 auto;
font-weight: 700; 
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin-bottom: 29px;
}
.search-data{
max-width: 720px;	
margin: 0 auto;
margin-bottom: 56px;
font-size: 22px;
line-height: 26px;
color: #333333;

}
.button-search{
display: block;	
width: 575px;
padding-top: 15px;
padding-bottom: 15px;
margin: 0 auto;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
background: #756257;
text-decoration: none;
border-radius: 10px;
}

.subscribe{
background-image: url(../images/index_photo/background-subscribe.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
color: #ffffff;
text-align: center;
height: 411px;

}
.subscribe-title{
min-width: 720px;		
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
padding-top: 94px;
margin: 0 auto 29px;


}
.subscribe-description{
max-width: 720px;	
margin: 0 auto 46px;
font-weight: 400;	
font-size: 22px;
line-height: 26px;
min-height: 52px;
}
.subscribe-form{
display: flex;
justify-content: center;
margin: 0 auto;
max-width: 800px;	
}
.subscribe-field{
margin: 0;	
padding: 0;
min-width: 600px;
min-height: 60px;	
border-radius: 10px 0px 0px 10px;	
padding-left: 22px;
padding-right: 19px;
background: #F2F2F2;
color:#000000;
font-size: 18px;
line-height: 26px;
border: none;
}

.subscribe-button{
font-weight: 700;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
font-size: 20px;
line-height: 26px;
border-radius: 0px 10px 10px 0px;
}

.page-footer-container{
display: flex;
justify-content: space-around;
margin: 0 auto;
width: 1200px;
}
.page-footer a {
text-decoration: none;
display: block;
}	
.footer-social{
max-width: 120px;
margin: 49px 61px 53px 72px ;
}
.footer-social-list {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style-type: none;
}
.footer-social-item{
width: 18px;
height: 15px;
margin-right: 30px;
margin-bottom: 4px;
}
.footer-social-item:nth-child(3n){
margin-right: 0;
}

.footer-phone{
width: 720px;
padding: 0;
margin: 0 auto;
}
.footer-contacts-phone{
display: block;
font-weight: 400;	
font-size: 40px;
line-height: 40px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
color: #000000;
margin: 40px 0 30px;

}
.footer-author{
max-width: 115px;
margin: 42px 72px 44px auto;
}

/* Cтилизация каталога*/

.header-filter{
background-image: url(../images/catalog/filter_group/catalog-background1.jpg);
background-size:cover;
background-repeat: no-repeat;
color: #ffffff;
padding: 35px 70px;
min-height: 408px;
box-sizing: border-box;
}
.inner-header-title{
margin: 0;
font-weight: 700;
font-size: 60px;
line-height: 78px;
}
.breadcrumbs{
display: flex;	
padding: 0;
margin: 0;
list-style: none;
margin-top: -8px;
}
.breadcrumbs-item:not(:last-child){
margin-right: 10px;	
}

.breadcrumbs-link{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
text-decoration: none;
}
.inner-header{
margin-bottom: 45px;
}

.filter-form{
display: flex;
}
.filter-list{
margin: 0;
padding: 0;
list-style: none;
}

.filter-title{
font-weight: 700;
font-size: 20px;
line-height: 26px;
margin-bottom: 30px;
}
.filter-item{
font-size: 18px;
line-height: 23px;
}
.filter-item:not(:last-child) {
margin-bottom: 16px;
}

.filter-group{
border:none ;
padding: 0;
}
.filter-infrastructure{
margin-right: 67px;	
}
.filter-housing{
margin-right: 167px;
}
.filter-range{
width: 288px;
margin-right: 81px;
}
.range{
display: flex;	
}
.range-cost{
display: flex;
box-sizing: border-box;		
position: relative;
}
.range-price {
font-size: 18px;
line-height: 23px;
position: absolute;
top: 0;
right: 14px;
}
.range-field{
width: 144px;	
color: inherit;
background-color: transparent;
box-sizing: border-box;
}

.filter-button{
margin: 0;
padding: 0;	
width: 160px;	
display: flex;	
flex-direction: column;
margin-left: auto;
margin-top: 55px;
}
.button-apply{
width: 160px;	
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
border-radius: 4px;
margin-bottom: 20px;
}
.button-reset{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
background: transparent;
}


.search-result{
margin-bottom: 73px;	
}

.sorting-container{
width: 1056px;
min-height: 48px;
display: flex;
padding:44px 72px 0;
justify-content: space-between;
margin-bottom: 53px;
}
.sorting-heading{
margin: 0;
padding: 0;
font-size: 30px;
font-weight: bold;
line-height: 39px;
text-transform: uppercase;
color: #000000;
margin-right: 191px;
}
.select-setting{
margin: 0;
width: 288px;	
margin-right: 81px;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
}
.sorting-container .button {
width: 48px;
height: 48px;
}
.button-checked{
margin-left: auto;
}

.hotel-card-container{
width: 1056px;
margin: 0 72px;
margin-bottom: 30px;
}
.hotel-list{
display: flex;	
margin: 0;
padding: 0;
list-style-type: none;
margin-bottom: 34px;
flex-wrap: wrap;
}

.hotel-item{
padding: 0;	
margin: 0;
width: 340px;
padding: 20px;
box-sizing: border-box;
margin-right: 18px;
margin-bottom: 10px;
}
.hotel-item:nth-child(3n){
margin-right: 0;
}

.hotel-image{
display: block;	
margin: 0;
padding: 0;
}
.hotel-link{
text-decoration: none;
}
.hotel-title{
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: #000000;
}
.hotel-type{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}

.rating{
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;
background-color:#F2F2F2;
	}
.button-more{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background-color:#756257;
color: #FFFFFF;
text-decoration: none;
}
.button-favorites{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #83B3D3;
color: #FFFFFF;
}

.button-favorites-green{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
background: #7DB54F;
color: #FFFFFF;
}

.button-download{
	
width: 620px;	
padding: 17px;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
background-color: #83B3D3;
color: #FFFFFF;
border-radius: 4px;
margin:30px 218px;
}


.pagination-container{
max-width: 1056px;
display: flex;
margin:0 72px;
justify-content: space-between;
}
.pagination-list {
display: flex;
margin: 0;
padding: 0;
list-style-type: none;
}
.pagination-item:not(:last-child) {
margin-right: 8px;
}
.pagination-link {
display: block;
box-sizing: border-box;
min-width: 55px;
min-height: 55px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
background-color: #83B3D3;
}
.pagination-current {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px; 
text-align: center;
text-transform: uppercase;
color: #000000;
background-color: #F2F2F2;
}
.select-title{
width: 175px;	
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
margin-right: 51px;
}
.select-control-hotel{
width:160px ;	
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
border-radius: 4px;
}

.subscribe-catalog{
color: #ffffff;
text-align: center;
margin-bottom: 141px;
}
.subscribe-heading-catalog{
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin-bottom: 46px;
}
.subscribe-description-catalog{
font-size: 22px;
line-height: 26px;
color: #333333;
margin-bottom: 46px;
}
.subscribe-button{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
}


